<a href="https://colab.research.google.com/github/cole98ster/Python_Intro/blob/main/Intro_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##  Steps to get better at python
 [Steps To Get Better At Python](https://www.youtube.com/watch?v=p15xzjzR9j0)

[Python Guide](https://www.w3schools.com/python/default.asp)

---


 Basic Steps
* First learn all operators and conditions ✅
* If/else commands ✅
* Loops and Iterables ✅
* Functions ✅
 * Mutable ✅
* GitHub
 * How it works (needs more practice)
 * Basic Idea ✅
---

 Intermediate Steps
* Classes and Objects ✅
* Data Structures ✅
* Comprehensions ✅
* Lambda Functions
* Machine Learning
* Collections Module Map and Filter
* args and kwargs
* Inheritance
* Adcanced class behavior
* PIP
* Enviroments
* Module Creation
* Async IO

---
Advanced Steps
* Decorators
* Generators
* context managers
* metaclasses
* concurrency
* parellelism
* testing
* packages
* cython

---

# Start of Basic Steps Practice

In [ ]:
x1 = 4.67
x2 = 6.756
print(x1 + x2)

11.426

### Basic Operators
---
### + - / *

In [ ]:
x3 = -6
x4 = 4
print(x3 / x4)
print(x3 % x4)

-1.5
2

Modulus or % is used to get the remainder from division

In [ ]:
x5 = 2
x6= 3
print(x5 ** x6)

8

Expontentiation or ** is used to apply an exponent to a base number

In [ ]:
x7 = 42.67
x2 = 6.756
print(x7 // x2)

6.0

Floor Division or // is division of two float numbers, then rounds the quotient to an integer.

#### Python Assignment Operators

In [ ]:
x7 = 42.67
x2 = 6.756
print(x7 == x2)

False

if true, double equal sign or == means exponent 1 is equal to exponent 2.
if false, double equal sign or == means exponent 1 is **NOT** equal to exponent 2.

In [ ]:
x7 = 42.67
x2 = 6.756
print(x7 != x2)

True

If true, exclamation mark + equal sign or != means exponent 1 is **NOT** equal to exponent 2.
If false, exclamation mark + equal sign or != means exponent 1 is equal to exponent 2.

In [ ]:
x2 > x7

False

This operator means greater than (>), or less than (<).

In [ ]:
x7 >= 5
x2 <= 4

False

These operators just mean greater or equal to  (>=), and less or equal to (<=).

#### Python Logical Operators

In [ ]:
x5 = 1
x6 = 3
x5 <= 2 and x6 > 2

True

**AND** returns true if both statements are true

In [ ]:
x5 = 1
x6 = 3
x5 <= 2 or x6 > 2

True

**OR** returns true if one statement is true

In [ ]:
x5 = 1
x6 = 3
not(x5 <= 2 and x6 > 2)

False

**NOT** reverses the result, if the result is true, then the return will be false

#### Python Identity Operators

In [ ]:
x5 = 1
x6 = 3
x5 is x6

False

**IS** returns true if both variables are the same object.

In [ ]:
x5 = 1
x6 = 3
x5 is not x6

**IS Not** returns true if both variables are **NOT** the same object.

#### Python Membership Operator

In [ ]:
y = ['1', '2','4']
'2' in y

**IN** returns true if the value is in the sequence

In [ ]:
y = ['1', '2','4']
'2' not in y

**NOT IN** returns true if the value is not in the sequence

#### Order of opereation precedence
The order of operations is:
Parentheses, Exponents, Multiplicaton & Divison & Floor Division & Modulus, Addition & Subtraction, Comparisons & identity & membership operators, Logical NOT, And, Or.

### IF/Else Commands

In [ ]:
a = 50
b = 51
if a > b:
  print('a is bigger than b')
elif a == b:
  print('a is equal to b')
else:
  print('a is less than b')

#### Practicing with making a basic calculator

In [ ]:
def addition(n1,n2):
  return n1 + n2
def subtraction(n1,n2):
  return n1 - n2
def multiplication(n1,n2):
  return n1 *n2
def division(n1,n2):
  return n1 / n2
def Floor_division(n1,n2):
  return n1 // n2

n1 = float(input('Enter the First Number: '))
n2 = float(input('Enter the second Number: '))

print('Select Operation')
print(
    " 1. addition = 1"
    " 2. subtraction = 2"
    " 3. multiplication = 3"
    " 4. division = 4"
    " 5. Floor Division/n = 5 ")

operation = float(input('Enter Which Operation You Would Like to Use '))
if operation == 1:
  print(n1,"+",n2,"=",addition(n1,n2))
elif operation == 2:
  print(n1,"-",n2,"=",subtraction(n1,n2))
elif operation == 3:
  print(n1,"*",n2,"=",multiplication(n1,n2))
elif operation == 4:
  print(n1,"/",n2,"=",division(n1,n2))
elif operation == 5:
  print(n1,"//",n2,"=",Floor_division(n1,n2))
else:
  print("Invalid Number: Select 1/2/3/4/5")

Enter the First Number: 5
Enter the second Number: 6
Select Operation
 1. addition=1 2. subtraction=2 3. multiplication=3 4. division=4 5. Floor Division/n=5
Enter Which Operation You Would Like to Use 2
5.0 - 6.0 = -1.0

### Loops and Iterables

In [ ]:
i = 1
while i < 6:
  print(i)
  if i == 5:
    break
  i += 1

With the **While** loop we can execute a set of statements as long as a condition is true.
With the **Break** statement we can stop the loop even if the while condition is true:

In [ ]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

With the **Continue** statement we can stop the current iteration, and continue with the next.

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

With the else statement we can run a block of code once when the condition no longer is true.

In [ ]:
fruits = ["apple", "banana", "cherry"]
for y in fruits:
  print(y)

A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

In [ ]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

In [ ]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

A nested loop is a loop inside a loop.

The "inner loop" will be executed one time for each iteration of the "outer loop"

In [ ]:
for x in [0, 1, 2]:
  pass

For loops cannot be empty, but if you for some reason have a for loop with no content, put in the pass statement to avoid getting an error.

#### Loops Practice (Data Management Digit Solver)

In [ ]:
Digits_Usable = ['1','2','3','4','5','6','7','8','9','0']
first_Digit = ['1','3','4','7','8','9']
second_Digit = ['1','3','4','7','8','9']
third_Digit = ['1','3','7','9']

Amount = len(first_Digit)*len(second_Digit)*len(third_Digit)

print("Here is every digit:")
for x in first_Digit:
  for y in second_Digit:
    for z in third_Digit:
      print(x, y, z)
print('Amount of Digits Possible:',Amount)

### Functions

In [ ]:
def my_function(fname):
  print(fname + " is stupid")

my_function("Homer")
my_function("Greg")
my_function("Kevin")

Arguments are specified after the function name, inside the parentheses. You can add as many arguments as you want, just separate them with a comma.

In [ ]:
def my_function(*cats):
  print("The youngest cat is " + cats[0])

my_function("Homer", "Cali", "Annie")

Arbitrary Arguments, or *args

If you do not know how many arguments that will be passed into your function, add a * before the parameter name in the function definition.

In [ ]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "homer", child2 = "Turner", child3 = "Taylor Lewis")

Keyword Arguments can be used with key = value syntax. This way the order of arguments does not matter

In [ ]:
def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Homer", lname = "simpson")

Arbitrary Keyword Arguments, **Kwargs

If you do not know how many keyword arguments that will be passed into your function, add two asterisk.

In [ ]:
def recursion(k):
  if(k > 0):
    result = k + recursion(k-1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
recursion(6)

Recursion is a common mathematical and programming concept. It means that a function calls itself. This has the benefit of meaning that you can loop through data to reach a result.

## Review Of all basic Steps - (excluding GitHub)



```
# This is formatted as code
```

### Basic Math Guesing Game

In [ ]:
print("You will always end up with the same number")

k = int(input('Pick A Whole Number: '))
print('----------------')
import time
time.sleep(3)

d = k
if( k >= 0):
  print('Add 15 to your number')
  print('----------------')
  time.sleep(2)
  k = (k + 15)
  print("Subtract 3")
  print('----------------')
  time.sleep(2)
  k = (k-3)
  print("Subtract your original number")
  print('----------------')
  k = (k-d)
else:
  print("not negative please, please rerun")
time.sleep(4)
print('Calculating...')
print('----------------')
time.sleep(5)
print("Is your number:",k,"?")

# Intermediate Steps Practice

## Classes/Objects

In [ ]:
class MyClass:
  x =5
p1 = MyClass()
print(p1.x)

Here we created a class which is like a blueprint to create objects. We also created an object named **P1**.

In [ ]:
class Person:
  def __init__(self, name, age, gender):
    self.name = name
    self.age = age
    self.gender = gender

p1 = Person("Cole", 17, "Male")

print(p1.name)
print(p1.age)
print(p1.gender)

All classes have a function called __init__(), which is always executed when the class is being initiated. We use the __init__() function to assign values to object properties, or other operations.

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def __str__(self):
    return f"{self.name} {self.age}"

p1 = Person("Cole", 17)

print(p1)

Cole 17

The __str__() function controls what should be returned when the class object is represented as a string.

Objects can also contain methods. Methods in objects are functions that belong to the object.

The **self** parameter is a reference to the current instance of the class, and is used to access variables that belongs to the class. It also does not have to be named self but must be the first parameter.

In [ ]:
class Cole_Identity:
  def __init__(me, name, age, gender, sport, school, birthplace):
      me.name = name
      me.age = age
      me.gender = gender
      me.sport = sport
      me.school = school
      me.birthplace = birthplace

Cole = Cole_Identity("Cole", 17, "Male", "Soccer", "King Heights Academy", "Toronto, Canada" )

print(Cole.name)
print(Cole.age)
print(Cole.gender)
print(Cole.sport)
print(Cole.school)
print(Cole.birthplace)

## Data Structures